.container-section--req {

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #05102F;   

}

.container-ul--req {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img--req {
    width: 200px;
    height: 118px;
    border-radius: 12px;
    object-fit: cover;
    margin: 10px 7px;

}
.option--req {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color:#F06FA4;
    text-align: center;

}


.section-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}