.container-ranking {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #05102F;
}
.container-main--header{
    width: 100%;
    height: 100vh;
}
.container-main {
    width: 100%;
    height: 100vh   ;
    display: flex;
    flex-direction: column;

}
.container-box--icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: -56px 0px 0px 17px;
}
.ranking-box--h1 {
    margin: 28px 0px 0px -21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #ffff;
}
.span-h1-ranking {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 51px;
    color: #E2508C;
}
.icon-container--header {
    width: 9rem;
    height: 9rem;
     
}
.ranking-box--h2 {
    margin: -30px 0px 0px 111px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #F06FA4;
}
.container-main--section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container-box--section {
    width: 100%;
    height: 100%;
    display: flex;
}
.StarIconClass {
    width: 1.5rem;
    height: 1.5rem;
    padding: 50px 3px;
}
.icon-container--section {
    width: 4.5rem;
    height: 4.5rem;
    padding: 34px 20px;

}

